<?xml version="1.0" encoding="UTF-8"?>
<settings xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.1.0 http://maven.apache.org/xsd/settings-1.1.0.xsd" xmlns="http://maven.apache.org/SETTINGS/1.1.0"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <servers>
    <server>
      <username>sinnam</username>
      <password>\{DESede\}bQWr/5Qldx8wDbDjF7COVQ==</password>
      <id>central</id>
    </server>
    <server>
      <username>sinnam</username>
      <password>\{DESede\}bQWr/5Qldx8wDbDjF7COVQ==</password>
      <id>snapshots</id>
    </server>
  </servers>
  <profiles>
    <profile>
      <repositories>
        <repository>
          <snapshots>
            <enabled>false</enabled>
          </snapshots>
          <id>central</id>
          <name>repo</name>
          <url>http://repo.dev.com:8081/artifactory/repo</url>
        </repository>
        <repository>
          <snapshots />
          <id>snapshots</id>
          <name>repo</name>
         <url>http://repo.dev.com:8081/artifactory/repo</url>
        </repository>
      </repositories>
      <pluginRepositories>
        <pluginRepository>
          <snapshots>
            <enabled>false</enabled>
          </snapshots>
          <id>central</id>
          <name>repo</name>
          <url>http://repo.dev.com:8081/artifactory/repo</url>
        </pluginRepository>
        <pluginRepository>
          <snapshots />
          <id>snapshots</id>
          <name>repo</name>
          <url>http://repo.dev.com:8081/artifactory/repo</url>
        </pluginRepository>
      </pluginRepositories>
      <id>artifactory</id>
    </profile>
  </profiles>
  <activeProfiles>
    <activeProfile>artifactory</activeProfile>
  </activeProfiles>
</settings>
